<section id="testimonials">

    <h3>Get Started</h3>
    <div id="code-snippets">

        <h4><span>1.</span> Import & Init</h4>
        <div class="code-snippet">
            <small>GS6</small>
            <p>import <span>'Đ'</span> from <span>'GS6'</span></p>
            <p>Đ.<span>initialize</span>((a, b) <span>=></span> Đ(a) - Đ(b))</p>
        </div>

        <h4><span>2.</span> Start coding!</h4>
        <div class="code-snippet">
            <small>GS6</small>
            <p>import <span>'Đ'</span> from <span>'GS6'</span></p>
            <p>Đ.<span>initialize</span>((a, b) <span>=></span> Đ(a) - Đ(b))</p>
        </div>
    </div>
</section>