<section id="testimonials">

    <div id="testimonial-container">
        <div class="testimonial-lg">
            <img src="https://www.w3schools.com/w3css/img_avatar3.png" alt="testavatar">
            <p><span>"</span>It was really nice to work with the GS Team, I've learned a lot from them. Fun, efficient, high-quality. 
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quasi maiores recusandae ea fuga. Dolores voluptatibus iure perferendis quasi quas rerum eveniet laborum veniam quam odio!<span>"</span>
            
                <br>

                <span class="testimonial-stars">
                        <i class="fas fa-star fa-2x"></i>
                        <i class="fas fa-star fa-2x"></i>
                        <i class="fas fa-star fa-2x"></i>
                        <i class="fas fa-star fa-2x"></i>
                        <i class="fas fa-star fa-2x"></i>
                </span>
            </p>
        </div>

        <div class="testimonial-sm">
            <p><span>"</span>It was really nice to work with the GS Team, I've learned a lot from them. Fun, efficient, high-quality.<span>"</span></p>
            <small>&mdash; John Smith</small>
        </div>

        <div class="testimonial-sm">
            <p><span>"</span>It was really nice to work with the GS Team, I've learned a lot from them. Fun, efficient, high-quality.<span>"</span></p>
            <small>&mdash; John Smith</small>
        </div>
    </div>

    <h3>Get Started</h3>
    <div id="code-snippets">

        <h4><span>1.</span> Import & Init</h4>
        <div class="code-snippet">
            <small>GS6</small>
            <p>import <span>'&#x2141;'</span> from <span>'GS6'</span></p>
            <p>&#x2141;.<span>initialize</span>((a, b) <span>=></span> &#x2141;(a) - &#x2141;(b))</p>
        </div>

        <h4><span>2.</span> Start coding!</h4>
        <div class="code-snippet">
            <small>GS6</small>
            <p>import <span>'&#x2141;'</span> from <span>'GS6'</span></p>
            <p>&#x2141;.<span>initialize</span>((a, b) <span>=></span> &#x2141;(a) - &#x2141;(b))</p>
        </div>
    </div>

    <h3>Tutorials</h3>
    <div id="tutorials">
        <div class="video">

        </div>
    </div>
</section>