<section id="news">

    <!-- Cards for each News -->
    <div *ngFor="let data of data"  key="news-id" class="news-card">

        <!-- CARD MAIN -->
        <div class="new-card-top">
            <h3><span>{{data.id+1}}.</span> {{data.title}}</h3>
            <small><span><i class="fas fa-user"></i> {{data.author}}</span>  <span><i class="far fa-calendar-alt"></i> {{data.date}}</span></small>
            <hr>
            <p>{{data.description}}</p>
            <button (click) = "change($event)" id="readMoreBtn"><span><i class="fas fa-chevron-circle-down"></i></span> Read more...</button>
        </div>

        <!-- HIDDEN DEFAULT -->
        <div class="news-card-body">
            <img src="/assets/img/banner.png" alt="banner">
            <p>{{data.body}}</p>
            <button (click) = "readLess($event)" id="readMoreBtn"><span><i class="fas fa-chevron-circle-up"></i></span> Read less...</button>
        </div>

    </div>

</section>