<section *ngFor="let data of data" id="news">

    <!-- Month Name -->
    <h2 class="news-date">{{data.date}}</h2>

    <!-- Cards for each News -->
    <div  key="news-id" class="news-card">

        <!-- CARD MAIN -->
        <div  class="new-card-top">
            <h3>{{data.title}}</h3>
            <small>{{data.author}}</small>
            <hr>
            <p>{{data.description}}</p>
            <button (click) = "change($event)" id="readMoreBtn">Read more...</button>
        </div>

        <!-- HIDDEN DEFAULT -->
        <div class="news-card-body" style="display:none">
            <p>{{data.body}}</p>
            <button (click) = "readLess($event)" id="readMoreBtn">Read less...</button>
        </div>

    </div>

</section>