<section id="news">

    <!-- Cards for each News -->
    <div *ngFor="let data of data"  key="news-id" class="news-card">

        <!-- CARD MAIN -->
        <div class="new-card-top">
            <h3>{{data.title}}</h3>
            <small><span><i class="fas fa-user"></i></span> {{data.author}} <span><i class="far fa-calendar-alt"></i></span> {{data.date}}</small>
            <hr>
            <p>{{data.description}}</p>
            <button (click) = "change($event)" id="readMoreBtn"><span>&#8595;</span> Read more...</button>
        </div>

        <!-- HIDDEN DEFAULT -->
        <div class="news-card-body">
            <img src="https://www.tutorialrepublic.com/lib/images/javascript-illustration.png" alt="">
            <p>{{data.body}}</p>
            <button (click) = "readLess($event)" id="readMoreBtn"><span>&#8593;</span> Read less...</button>
        </div>

    </div>

</section>