<section id="information">
    <div class="information-section" id="teachers">
        <div id="teachers-div" class="card" *ngFor="let element of teachers">
            <div class="front"><img src="{{element.pics}}" alt="profilepic"></div>
            <div class="back">
                <div class="details"><h4>{{element.name}}</h4>
                    <p>{{element.task}}</p>
                    <div class="hidden" style="display:none">
                        <p>{{element.descriptions}}</p>
                        <p>{{element.emails}}</p>
                    </div>
                    <button (click)="show($event)">Show more...</button>
                </div>
            </div>
        </div>
    </div>
    
    <div class="information-section" id="space">
        <h3>Course Space</h3>
        <div>
            <p>Our course-room:</p>
            <img src="https://pbs.twimg.com/media/EH-LWHcXYAEA8Vv?format=jpg&name=4096x4096" alt="room">
        </div>
        <div>
            <p>Address: Kettenbrückengasse 23, 1050 Wien</p>
            <iframe src="https://www.google.com/maps/embed?pb=!4v1573641759676!6m8!1m7!1sAyEDSnRp0ESJcqmHXUDf4w!2m2!1d48.19654209148765!2d16.35953675135932!3f194.3234220070757!4f-3.969979642265116!5f2.299968626952992" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>        </div>        
    </div>
    <div class="information-section" id="technologies">
        <h3>Our Technologies</h3>
        <div *ngFor="let tech of techs" style="display:flex, flex-direction:column, width:30%">
            <h4>{{tech.technologies}}</h4>
            <img src="{{tech.imgLinks}}" alt="icon">
            <p style="display:none">{{tech.infos}}</p>
            <button (click)="show($event)">Show more...</button>
        </div>
    </div>    
</section>