@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,700&display=swap');

// MIXINS

@mixin box-shadow($left, $top, $radius, $color) {
	box-shadow: $left $top $radius $color;
	-webkit-box-shadow: $left $top $radius $color;
	-moz-box-shadow: $left $top $radius $color;
}

@mixin transition($property, $duration, $easing: linear) {
	transition: $property $duration $easing;
	-webkit-transition: $property $duration $easing;
	-moz-transition: $property $duration $easing;
}

@mixin border-radius($radius) {
	border-radius: $radius;
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
}

@mixin border-radii($topleft, $topright, $bottomright, $bottomleft) {
	border-top-left-radius: $topleft;
	border-top-right-radius: $topright;
	border-bottom-right-radius: $bottomright;
	border-bottom-left-radius: $bottomleft;
	-webkit-border-top-left-radius: $topleft;
	-webkit-border-top-right-radius: $topright;
	-webkit-border-bottom-right-radius: $bottomright;
	-webkit-border-bottom-left-radius: $bottomleft;
	-moz-border-radius-topleft: $topleft;
	-moz-border-radius-topright: $topright;
	-moz-border-radius-bottomright: $bottomright;
	-moz-border-radius-bottomleft: $bottomleft;
}

@mixin gradient($color1, $color2) {
	background-color: $color1;
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#{$color1}, endColorstr=#{$color2});
	background-image: -moz-linear-gradient(center top, $color1, $color2);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from($color1), to($color2));
}

// COLORS
$color-main : yellow;
$color-background : rgb(255, 255, 149);
$color-title : #333;
$color-accent : #ddd;
$shadow-sm : 0 2px 6px rgba(0, 0, 0, 0.15);
$shadow-lg : 0 4px 10px rgba(0, 0, 0, 0.3);


// BREAKPOINTS
$breakpoint-tablet : 768px;
$breakpoint-desktop : 1280px;

* {
    margin: 0; padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Titillium Web', sans-serif;
}

// LANDING
section#landing {
    position: relative;
    height: 100vh;
    width: 100%;
    background-color: $color-background;
    background: linear-gradient(to bottom, rgb(255, 255, 149), white);
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    img {
        width: 150px;
        margin: 0 auto;
        animation: showUp 1.5s;
    }

    button {
        width: 70%;
        margin: 0 auto;
        font-size: 1.4em;
        padding: 0.5em 1em;
        animation: slideIn 1s ease-out;
        border: 1px solid transparent;
        border-radius: 10px;
        background-color: #333;
        color: white;
        font-weight: 700;
        box-shadow: $shadow-sm;
        transition: all 200ms;
        max-width: 400px;

        &:hover {
            color: $color-main;
            box-shadow: $shadow-lg;
            outline: none;
        }
    }
}

header {
    background-color: white;
    padding: 1.5em 1em;
    border-bottom: 1px solid grey;
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.4);
    margin-bottom: 8em;
    
    ul.navbar {
        list-style-type: none;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        text-align: center;

        li.navbar-item {

            a, a:link, a:visited {
                color: black;
                text-decoration: none;
                font-size: 1.4em;
                transition: all 200ms;

                @media screen and (min-width:$breakpoint-tablet) {
                    font-size: 2em;
                }

                &:hover {
                    color: yellow;
                }
            }
        }
    }
}

// FOOTER
footer {
    color: #333;
    text-align: center;
    margin-top: 2em;
    padding: 3em 0;

    span {
        color: yellow;
    }

    a, a:link, a:visited {
        color: #333;
        text-decoration: none;
    }
}

// CONTAINER
div.container {
    padding: 1em;
    max-width: $breakpoint-desktop;
    margin: 0 auto;
}

// NEWS
section#news {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1em;
    
    @media screen and (min-width: $breakpoint-tablet) {
        grid-template-columns: 1fr 1fr;
        div.news-card:nth-of-type(1) {
            grid-column: 1/3;
            
            div.new-card-top {
                button {
                    display: none;
                }
            }

            div.news-card-body {
                display: block;
            }
        }
    }

    @media screen and (min-width: $breakpoint-desktop) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        div.news-card:nth-of-type(2) {
            grid-column: 3/5;

            div.new-card-top {
                button {
                    display: none;
                }
            }

            div.news-card-body {
                display: block;
            }
        }
    }

    span {
        color: yellow;
        margin-right: 0.25em;
    }
    
    div.news-card {
        padding: 1em;
        margin: 1em 0;
        border-top: 1px solid grey;
        box-shadow: $shadow-sm;

        @media screen and (min-width: $breakpoint-tablet) {
            box-shadow: none;
        }
        
        p {
            margin-top: 1em;
        }

    }

    img {
        width: 100%;
    }

    div.new-card-top {

        button {
            display: block;
        }

        @media screen and(min-width:$breakpoint-tablet) {
            h3 {
                height: 50px;
            }
        }

        p {
            min-height: 60px;
            margin-top: 0;
        }
    }

    div.news-card-body {

        animation: slideDown 1s;
        padding-bottom: 1em;
        display: none;
        
        p {
            padding: 0 1em;
            margin: 1em 0;
            border-left: 1px solid grey;
        }
    }

    button {
        display: block;
        margin-left: auto;
        border: none;
        background-color: white;
        color: black;
        font-weight: 700;
        width: 125px;
        margin-top: 1em;
    }

}

// PRODUCTS
section#products {

    dialog#signUp {
        padding: 1em;
        position: absolute;
        top:0;
        grid-template-columns: 1fr;
        animation: showUp 1s;
        border: none;
        background-color: rgba(0, 0, 0, 0.5);
        height: 100vh;
        width: 100%;

        h3 {
            display: flex;
            justify-content: space-between;

            button {
                background-color: yellow;
                color: black;
                box-shadow: $shadow-sm;

                &:hover {
                    box-shadow: $shadow-lg;
                    transition: all 200ms;
                }
            }
        }

        div#form-contact {
            display: grid;
            grid-template-columns: 1fr;
            border-radius: 10px;
            background-color:white;
            padding: 1em;
            margin: 0 auto;

            @media screen and (min-width:$breakpoint-desktop) {
                width: 50%;
            }
            
            * {
                border: none;
            }

            h4 {
                margin: 1em 0;
            }
            
            input {
                display: block;
                border: 1px solid grey;
                margin-bottom: 1em;
                width: 100%;
                padding: 0.5em 1em;
                border-radius: 5px;
                outline:none;
            }

            textarea {
                resize: none;
                border: 1px solid grey;
                width: 100%;
                height: 150px;
                padding: 0.5em 1em;
                border-radius: 5px;
            }

            button:nth-of-type(1) {

            }

            button#contact-submit {
                display:block;
                width: 100%;
                margin-top: 1em;
            }
        }
    }

    h2 {
        text-align: center;
        font-size: 2em;
        margin: 2em 0;
    }

    div.product-cards {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 2em;

        
        @media screen and(min-width:$breakpoint-tablet) {
            grid-template-columns: repeat(2, 1fr);

            div.products-card:nth-of-type(1) {
                grid-column: 1/3;
            }
        }

        @media screen and(min-width:$breakpoint-desktop) {
            grid-template-columns: repeat(3, 1fr);

            div.products-card:nth-of-type(1) {
                grid-column: 1;
            }
        }

        div.products-card {
            border-top: 1px solid grey;
            box-shadow: $shadow-sm;
            padding: 1em;
            margin: 0 auto;
            position: relative;
            background-color:  white;
            
            i {
                position: absolute;
                top: -50px;
                color: yellow;
            }

            h3 {
                margin-bottom: 1em;
                height: 50px;
            }

            p {
                padding-left: 1em;
                border-left: 1px solid grey;
                justify-self: center;
            }
        }

    }
            div.product-courses {
                display: grid;
                grid-template-columns: 1fr;
                grid-gap: 1em;

                @media screen and (min-width:$breakpoint-desktop) {
                    grid-template-columns: 1fr 1fr 1fr;
                }

                span {
                    color: yellow;
                }

                p:nth-of-type(2) {
                    margin: 1em 0;
                }
    
                div.course-card {


                    h3 {
                        padding: 2em 1em;
                        background-color: #eee;
                        border-top-left-radius: 10px;
                        border-top-right-radius: 10px;
                        background-image: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.5)), url(https://www.tutorialrepublic.com/lib/images/javascript-illustration.png);
                        background-size: cover;
                        background-position: center;
                        color: white;
                    }

                    div.course-card-body {
                        border-bottom: 1px solid grey;
                        padding: 1em;
                        display: grid;
                        grid-template-columns: 1fr;
                        
                        p:nth-of-type(2) {
                            height: 175px;
                        }

                        button {
                            border: 1px solid transparent;
                            color: white;
                            background-color: black;
                            padding: 0.5em 1em;
                            border-radius: 5px;
                            box-shadow: $shadow-sm;

                            &:hover {
                                box-shadow: $shadow-lg;
                                color: yellow;
                            }
                        }
                    }
                }
            }
}

// INFORMATION
section#information {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 4em;

    button {
        border: 1px solid transparent;
        background-color: white;
        color: black;
        padding: 0.25em 1em;
        box-shadow: $shadow-sm;
        border-radius: 5px;
        display: block;
        margin-left: auto;
        margin-top: 1em;
    }

    img {
        width: 100%;
        max-width: 400px;
    }

    iframe {
        width: 100%;
        height: 400px;
        max-width: 400px;
    }

    
    div#teachers {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 1em;

        div {
            animation: slideDown 1s;
        }
        
        @media screen and (min-width:$breakpoint-tablet) {
            grid-template-columns: 1fr 1fr;
            h3 {
                grid-column: 1/3;
            }
        }

        @media screen and (min-width:$breakpoint-desktop) {
            grid-template-columns: repeat(4, 1fr);
            h3 {
                grid-column: 1/5;
            }
        }
    }

    div#space {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 2em;
        
        img {
            width: 100%;
            max-width: none;
        }

        iframe {
            width: 100%;
            max-width: none;
        }
    }

    div#technologies {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 2em;

        padding: 2em;

        div {
            

            h4 {
                background-color: #eee;
                padding-left: 1em;
                margin-bottom: 1em;
                border: 1px solid transparent;
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;
                border-radius: 5px;
                border-left: 1px solid black;
            }

            img {
                height: 150px;
            }

            p {
                margin-top: 1em;
            }
        }

        @media screen and (min-width:$breakpoint-tablet) {
            grid-template-columns: 1fr 1fr 1fr;

            h3 {
                grid-column: 1/4;
            }

            img {
                height: 150px;
            }
        }

        @media screen and (min-width: $breakpoint-desktop) {
            grid-template-columns: repeat(4, 1fr);

            h3 {
                grid-column: 1/5;
            }

            img {
                min-height: 125px;
            }
        }

        img {
            width: 50%;
            display: block;
            margin: 0 auto;
        }
    }

}

// KEYFRAMES
@keyframes slideDown {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }
}

@keyframes shadowIn {
    0% {
        box-shadow: none;
    }
}

@keyframes slideIn {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }

    70% {
        transform: translateX(+5%);
    }
}

@keyframes showUp {
    0% {
        opacity: 0;
    }
}
