@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,700&display=swap');

// MIXINS

@mixin box-shadow($left, $top, $radius, $color) {
	box-shadow: $left $top $radius $color;
	-webkit-box-shadow: $left $top $radius $color;
	-moz-box-shadow: $left $top $radius $color;
}

@mixin transition($property, $duration, $easing: linear) {
	transition: $property $duration $easing;
	-webkit-transition: $property $duration $easing;
	-moz-transition: $property $duration $easing;
}

@mixin border-radius($radius) {
	border-radius: $radius;
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
}

@mixin border-radii($topleft, $topright, $bottomright, $bottomleft) {
	border-top-left-radius: $topleft;
	border-top-right-radius: $topright;
	border-bottom-right-radius: $bottomright;
	border-bottom-left-radius: $bottomleft;
	-webkit-border-top-left-radius: $topleft;
	-webkit-border-top-right-radius: $topright;
	-webkit-border-bottom-right-radius: $bottomright;
	-webkit-border-bottom-left-radius: $bottomleft;
	-moz-border-radius-topleft: $topleft;
	-moz-border-radius-topright: $topright;
	-moz-border-radius-bottomright: $bottomright;
	-moz-border-radius-bottomleft: $bottomleft;
}

@mixin gradient($color1, $color2) {
	background-color: $color1;
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#{$color1}, endColorstr=#{$color2});
	background-image: -moz-linear-gradient(center top, $color1, $color2);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from($color1), to($color2));
}

// COLORS
$color-main : yellow;
$color-background : rgb(255, 255, 149);
$color-title : #333;
$color-accent : #ddd;
$shadow-sm : 0 2px 6px rgba(0, 0, 0, 0.15);
$shadow-lg : 0 4px 10px rgba(0, 0, 0, 0.3);


// BREAKPOINTS
$breakpoint-tablet : 768px;
$breakpoint-desktop : 1280px;

* {
    margin: 0; padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Titillium Web', sans-serif;
}

// LANDING
section#landing {
    position: relative;
    height: 100vh;
    width: 100%;
    background-color: $color-background;
    background: linear-gradient(to bottom, rgb(255, 255, 149), white);
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    img {
        width: 150px;
        margin: 0 auto;
        animation: showUp 1.5s;
    }

    button {
        width: 70%;
        margin: 0 auto;
        font-size: 1.4em;
        padding: 0.5em 1em;
        animation: slideIn 1s ease-out;
        border: 1px solid transparent;
        border-radius: 10px;
        background-color: #333;
        color: white;
        font-weight: 700;
        box-shadow: $shadow-sm;
        transition: all 200ms;
        max-width: 400px;

        &:hover {
            color: $color-main;
            box-shadow: $shadow-lg;
            outline: none;
        }
    }
}

header {
    background-color: white;
    padding: 1.5em 1em;
    
    ul.navbar {
        list-style-type: none;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        text-align: center;

        li.navbar-item {

            a, a:link, a:visited {
                color: black;
                text-decoration: none;
                font-size: 1.4em;
                transition: all 200ms;

                &:hover {
                    color: yellow;
                }
            }
        }
    }
}

// FOOTER
footer {
    color: #333;
    text-align: center;
    margin-top: 2em;
    padding: 3em 0;

    span {
        color: yellow;
    }

    a, a:link, a:visited {
        color: #333;
        text-decoration: none;
    }
}

// CONTAINER
div.container {
    padding: 1em;
    max-width: $breakpoint-desktop;
    margin: 0 auto;
}

// NEWS
section#news {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1em;
    
    @media screen and (min-width: $breakpoint-tablet) {
        grid-template-columns: 1fr 1fr;
    }

    @media screen and (min-width: $breakpoint-desktop) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    span {
        color: yellow;
        margin-right: 0.25em;
    }
    
    div.news-card {
        padding: 1em;
        margin: 1em 0;
        border-top: 1px solid grey;
        box-shadow: $shadow-sm;

        @media screen and (min-width: $breakpoint-tablet) {
            box-shadow: none;
        }
        
        p {
            margin-top: 1em;
        }

    }

    img {
        width: 100%;
    }

    div.new-card-top {

        @media screen and(min-width:$breakpoint-tablet) {
            h3 {
                height: 50px;
            }
        }

        p {
            min-height: 60px;
            margin-top: 0;
        }
    }

    div.news-card-body {

        animation: slideDown 1s;
        
        p {
            padding: 0 1em;
            margin: 1em 0;
            border-left: 1px solid grey;
        }
    }

    button {
        display: block;
        margin-left: auto;
        border: none;
        background-color: white;
        color: black;
        font-weight: 700;
        width: 125px;
        margin-top: 1em;
    }

}

// PRODUCTS
section#products {

    div.product-card {
        
    }
}

// INFORMATION
section#information {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 4em;

    button {
        border: 1px solid transparent;
        background-color: white;
        color: black;
        padding: 0.25em 1em;
        box-shadow: $shadow-sm;
        border-radius: 5px;
        display: block;
        margin-left: auto;
        margin-top: 1em;
    }

    img {
        width: 100%;
        max-width: 400px;
    }

    iframe {
        width: 100%;
        height: 400px;
        max-width: 400px;
    }

    
    div#teachers {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 1em;

        div {
            animation: slideDown 1s;
        }
        
        @media screen and (min-width:$breakpoint-tablet) {
            grid-template-columns: 1fr 1fr;
            h3 {
                grid-column: 1/3;
            }
        }

        @media screen and (min-width:$breakpoint-desktop) {
            grid-template-columns: repeat(4, 1fr);
            h3 {
                grid-column: 1/5;
            }
        }
    }

    div#space {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 2em;
        
        img {
            width: 100%;
            max-width: none;
        }

        iframe {
            width: 100%;
            max-width: none;
        }
    }

    div#technologies {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 2em;

        padding: 2em;

        div {
            

            h4 {
                background-color: #eee;
                padding-left: 1em;
                margin-bottom: 1em;
                border: 1px solid transparent;
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;
                border-radius: 5px;
                border-left: 1px solid black;
            }

            img {
                height: 150px;
            }

            p {
                margin-top: 1em;
            }
        }

        @media screen and (min-width:$breakpoint-tablet) {
            grid-template-columns: 1fr 1fr 1fr;

            h3 {
                grid-column: 1/4;
            }

            img {
                height: 150px;
            }
        }

        @media screen and (min-width: $breakpoint-desktop) {
            grid-template-columns: repeat(4, 1fr);

            h3 {
                grid-column: 1/5;
            }

            img {
                min-height: 125px;
            }
        }

        img {
            width: 50%;
            display: block;
            margin: 0 auto;
        }
    }

}

// KEYFRAMES
@keyframes slideDown {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }
}

@keyframes shadowIn {
    0% {
        box-shadow: none;
    }
}

@keyframes slideIn {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }

    70% {
        transform: translateX(+5%);
    }
}

@keyframes showUp {
    0% {
        opacity: 0;
    }
}
